{% extends 'base.html.twig' %}

{% block title %}RIDDLE ME THIS!{% endblock %}

{% block body %}
    <form method="post" action="{{ path('correction', {question:question.id}) }}">

        {{ question.question }} <br>
        {% if question.type == "mc" %}
        {% for answer in question.answer %}
            <input type="radio" value={{ answer.type }} name="chosenAns">{{ answer.answer }} <br>
        {% endfor %}
            <input type="radio" value="giveUp" name="chosenAns">I don't know<br>
        {% else %}
            <input type="checkbox" value="giveUp" name="chosenAns">I don't know<br>

            <input type="text" name="chosenAns"><br>
        {% endif %}

        <button name="submit" type="submit">you sure?</button>
    </form>
    <p id="timer"></p>
 {% include 'Partials/timer.html.twig' %}
{% endblock %}
