*{
  margin: 0;
  padding: 0;
  font-family: "Avenir", sans-serif;
}
body{
  margin-top:5%;
  color: whitesmoke;
  background-color: #090A25;
}
.white-title{
  color: whitesmoke;
  font-size: 1.9rem;
  font-weight: lighter;
}
.btn {
  margin: 5px;
  background-color: rgba(201, 198, 255, 0);
  border: solid 1px #4169A8;
  padding: 6px;
  border-radius: 5px;
  color: #4169A8;
  font-size: 16px;
}

.a-link a{
  margin-left: 5px;
  font-weight: bolder;
  border: 1px transparent solid;
}
.a-link a:hover{
  border-bottom: 1px solid whitesmoke;
  color: whitesmoke;
}
a{
  text-decoration: none;

}
a:hover{
  color: whitesmoke;
}
button:hover {
  cursor: pointer;
  background: #4169A8;
  color: whitesmoke;
  transition: all 0.2s;
  border: solid 1px #4169A8;
}

input{
  font-size: 90%;
  border-radius: 5px;
  border: none;
  margin: 10px;
  padding: 10px;
  font-weight: lighter;
  font-style: italic;
  background-color: whitesmoke;

}

.input-blue{
  font-size: larger;
  border-radius: 5px;
  border: none;
  margin: 10px;
  padding: 10px;
  font-weight: lighter;
  font-style: italic;
  background-color: #a6c5ed;
}
.intro-login-container{
  display: flex;
  font-size: 1rem;
  background-color: #e87b4b;
  color: whitesmoke;
  line-height: 25px;
  justify-content: center;
  font-style: italic;
  font-weight: lighter;
  border-radius: 10px;
  width: max-content;
  margin: 3vh auto;
  padding: 0.8rem;
  text-align: center;
}

h1, h3{
  padding: 2vmax;
  justify-content: space-around;
  align-self: center;
  text-align: center;;
  color: whitesmoke;
}

/***play button, also used for scan ***/
.play-btn{
  margin: 10px 0;
  background-color: #3e1f5d;
  color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  border: 1px  #3e1f5d solid;
  font-size: larger;
}

/***admin dash***/
.btn-container{
  display: grid;
  margin: auto;
  justify-content: space-evenly;
  grid-template-columns: fit-content(300px, f);
a{
  color:white;
}

}
