.intro-text-login{
    display: grid;
    padding: 2rem;
    background-color: #41A89C;
    color: whitesmoke;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-style: italic;
}