{% extends 'base.html.twig' %}

{% block title %}Hello ViewQuestionController!{% endblock %}

{% block body %}
    <button><a href="{{ path('add_question') }}">Add question</a></button>

    <ul>
        {% for question in allQuestions %}
            <li>   {{ question.question }}
                <a href="{{ path('edit_question', {question:question.id}) }}">
                    Edit Question</a> ,
                <a href="{{ path('remove_question', {question:question.id}) }}">
                    X</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
