{% extends 'base.html.twig' %}

{% block title %}Hello AdminOverviewController!{% endblock %}

{% block body %}
<ul>
    {% for question in questions %}
     <li>   {{ question.question }} <a href="{{ path('edit_question', {question:question.id}) }}">Edit Question</a> ,
          <a href="{{ path('remove_question', {question:question.id}) }}">X</a>
     </li>


    {% endfor %}
</ul>
{% endblock %}
